@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans'), url(./fonts/static/AlegreyaSans/AlegreyaSans-Regular.ttf) format('truetype');
    font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
}

:root {
    --panel-border-radius: 1rem;
    --panel-bg-color: #ffffff;
    --page-bg-color: #fbfafa;
    --light-color: #fbfafa;
    --dark-color: #4b1939;
    --font-color: #1c0413;
    --box-shadow-default: 0 0 1rem rgba(189, 195, 199, 0.2);
}

* {
    font-family: 'Alegreya Sans', Arial, sans-serif;
}

:root,
#root,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* sizing of map container */
.leaflet-container {
    height: 100vh;
    width: 100vw;
}
